#submit-form{
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.input-box{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    width: 100%;
    line-height: 5vh;
}

.input{
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

input::placeholder{
    color: grey;
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.btn{
    width:390px;
    height: 50px;
    border: none;
    outline: none;
    background: rgb(190, 255, 255);
    border: 1px solid black;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: black;
    margin-top: 20px;
}

.btn:hover{
    background: aqua;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#date{
    color: grey;
    font-size: 20px;
    font-weight: 400px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


